.Nav {
  width: 100%;
  padding: 1rem 0;
  background: #646464;
  z-index: 1000;
  top: 0;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  list-style-type: none;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #fefefe;
}
