*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  max-width: 20vh;
  height: auto;
  background: transparent;
}
.hero-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: top;
  filter: brightness(70%);
  box-shadow: 0 0 5px 0 #fefefe;
}
.hero-text {
  padding: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000c9;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 12;
  border-radius: 10px;
  font-size: 1.5rem;
}
.upcoming {
  padding: 2rem;
}
.lower-section {
  margin: 1rem;
  padding: 1rem;
  line-height: 1.5rem;
  background: linear-gradient(#464444, #3e3e3e);
}
.lower-section > p {
  margin-bottom: 0.75rem;
}
.company-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.summary {
  margin: 1rem 0;
}
.summary > p {
  margin-bottom: 0.25rem;
}
.facts > p {
  margin-bottom: 1rem;
}
body {
  color: #fefefe;
}
.launches-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
}
.rocket-card,
.launch-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.75rem;
  max-width: 20vw;
  padding: .5rem;
  border: 2px solid #6f6c6c;
  background: #2d2d2d;
  margin: 15px;
  border-radius: 15px;
}
.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}
.rockets-image {
  width: 100%;
  max-width: 300px;
  align-self: center;
  box-shadow: 0 0 5px 0 #fefefe;
}
.rocket-card > h1 {
  margin: 1rem 0;
}
.rocket-card > p {
  font-size: 2rem;
  line-height: 2rem;
}
/* Single Rocket Page */

.rocket-image,
.details-section,
.rocket-info,
.engine-section {
  padding: 1rem;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
}
.details-section > h3,
.rocket-info > h3,
.engine-section > h3 {
  letter-spacing: 0.08rem;
}
.details-section > h1 {
  margin-bottom: 2rem;
}
.details {
  margin: 1rem 0;
  line-height: 1.5rem;
}
.rocket-image {
  width: 100%;
}
.launch-patch {
  width: 100%;
  max-width: 250px;
  object-fit: scale-down;
  align-self: center;
}
/* .read-more {
  text-align: center;
  padding: 5px;
  border: 1px solid #fefefe;
  transition: background 0.5s ease-in;
} */
/* .read-more:hover {
  background: #fefefe;
  color: #333;
} */
.failure {
  padding: 1rem 0;
}
/* .launch-card {
  width: 100%;
  max-width: 400px;
} */
.launch-card > h1 {
  padding: 0.25rem 0.5rem;
  color: #333;
  border-radius: 10px 0 0 10px;
  font-weight: 500;
}
/* .launch-page,
.rocket-page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.launch-page,
.rocket-page {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  justify-content: center;
}
/* .launch-page > h1 {
  margin-top: 1.25rem;
}
.launch-page > h2 {
  margin-bottom: 1rem;
} */
.launch-page > p {
  max-width: 400px;
  margin: 1rem;
}
.launch-page > iframe {
  width: 40%;
  height: 300px;
}
.launches-button-container {
  background: #333;
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;
}
.launches-button-container:last-of-type {
  margin-bottom: 2rem;
}
.back-button,
.next-button {
  margin: 0;
  padding: 1rem;
  width: 5rem;
  height: 3rem;
  border: none;
  background: #b2b4cd6e;
  color: #fefefe;
  cursor: pointer;
}
.next-button {
  bottom: 10%;
  right: 10%;
}
.back-button {
  bottom: 10%;
  left: 10%;
}
.ascend-button {
  justify-self: flex-end;
  width: 3rem;
  height: 2rem;
  background: #b2b4cd6e;
  color: #fefefe;
  border: none;
  border-radius: 5px;
}
.launchpage-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.launchpage-rocket-link {
  align-self: flex-end;
  padding: 1rem;
  border: 1px solid #fefefe;
  cursor: pointer;
}
.launchpage-button {
  align-self: flex-start;
  padding: 1rem;
  border: 1px solid #fefefe;
  cursor: pointer;
  width: 33%;
}
.launchpage-more {
  align-self: center;
}
@media screen and (max-width: 800px) {
  .hero-landing {
    width: 100%;
    height: 100vh;
  }
  .hero-text {
    padding: 5%;
    font-size: 1rem;
  }

  .upcoming {
    padding: 0.25rem;
    margin-top: 1.5rem;
    border: 1px solid #fefefe;
    text-align: center;
  }
  .launch-card:first-of-type {
    margin-top: 0.25rem;
  }
  .launch-card {
    max-width: 400px;
    min-height: 600px;
  }
  .launches-button-container {
    top: 0;
    position: sticky;
    z-index: 11;
  }
  .launches-container {
    display: flex;
    flex-direction: column;
  }
  .rocket-card {
    padding: 0.75rem;
    margin: 12px;
  }
  .rockets-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  .rocket-page {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  } 
  .rocket-card > p {
    height: 150px;
    font-size: 0.75rem;
  }
}
